<div class="spinner-div" *ngIf="loading">
  <div class="inner-spinner-div" *ngIf="!showRetry">
      <mat-spinner>
      </mat-spinner>
  </div>
  <!-- <div class="inner-spinner-div" *ngIf="showRetry">
      <div style="display:flex; flex-direction: column;">
          <mat-icon style="font-size: 20vh; color: #FBC02D; height: auto; width: auto;">warning</mat-icon>
          <p align="center">
              INTERNAL ERROR
          </p>
          <div style="margin:auto">
              <button mat-raised-button (click)="mainFunction(myControl.value.id)">RETRY</button>
          </div>
      </div>
  </div> -->
</div>
<div class="main-container" *ngIf="!(loading||refreshing)">
  <div class="header-container alternative">
      <h1 class="mat-h1">View</h1>
      <div class="searchBar">
          <form class="fullwidthForm">
              <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Select Contest</mat-label>
                  <mat-icon matPrefix>search</mat-icon>
                  <input type="text" placeholder="Search" matInput [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                          {{option.name}}
                      </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
          </form>
          <button mat-fab color="primary" (click)="mainFunction(myControl.value.id)" [disabled]="myControl.value===null">Go</button>
      </div>
  </div>
  <div class="intersection-container">
    <a  *ngFor="let candi of candidatesList" [routerLink]="[ '/contest', myControl.value.id, 'candidate', candi.id ]">
      <mat-card>
          <mat-card-header>
              <div mat-card-avatar><ngx-avatar [name]="candi.name" size="50"></ngx-avatar></div>
              <mat-card-title>{{candi.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              {{candi.id}}
          </mat-card-content>
      </mat-card>
      </a>
  </div>
</div>